# -----------------------------------------------------------------------------
# Configuraciones Globales y del Sistema Operativo
# -----------------------------------------------------------------------------
.DS_Store          # macOS
Thumbs.db          # Windows
ehthumbs.db        # Windows
desktop.ini        # Windows
.Spotlight-V100    # macOS
.Trashes           # macOS
._* # macOS

# -----------------------------------------------------------------------------
# Next.js (Frontend)
# -----------------------------------------------------------------------------
# Directorios de producción/construcción
.next/
out/
build/

# Directorios de módulos
node_modules/
.pnp/
.pnp.js

# Archivos de depuración y logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.parcel-cache/
.eslintcache

# Archivos de entorno
.env
.env.local
.env.development.local
.env.production.local
.env.test.local
.env.ci.local

# Next.js specific cache
.next/cache/

# Archivos de cobertura de pruebas
coverage/

# Archivos de TurboRepo
.turbo/

# -----------------------------------------------------------------------------
# Flask (Backend)
# -----------------------------------------------------------------------------
# Entorno virtual de Python
.venv/
venv/
env/

# Archivos de bytecode de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de depuración y logs
*.log
*.sqlite3 # Si usas SQLite para la base de datos de desarrollo
celerybeat-schedule
.webassets-cache
.coverage
.pytest_cache/
nosetests.xml
coverage.xml
htmlcov/

# Archivos específicos de entornos de desarrollo
.idea/

# Archivos generados por paquetes (ej. Flask-Migrate)
migrations/versions/


# Archivos de paquetes de Python
*.egg-info/
.eggs/

# -----------------------------------------------------------------------------
# Configuraciones de IDEs/Editores Comunes
# -----------------------------------------------------------------------------
.vscode/           # Visual Studio Code
*.sublime-project  # Sublime Text
*.sublime-workspace# Sublime Text

# -----------------------------------------------------------------------------
# Otros Archivos de Historial o Temporales
# -----------------------------------------------------------------------------
.history/
*.tmp
*~
~*